.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar-container {
  background-color: white;
  border-right: 1px solid #ddd;
  width: 15%;
}

.main-content {
  flex: 1;
  background-color: #fafafa;
  padding: 20px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .sidebar-container {
    width: 20%;
  }

  .main-content {
    margin-left: 20%;
  }
}
