.App {
  min-height: 100vh;
}

.sidebar-container {
  background-color: white;
  border-right: 1px solid #ddd;
  width: 15%;
}

.main-content {
  background-color: #fafafa;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .sidebar-container {
  width: 20%;
}

}
